<script setup>
import { RouterView } from 'vue-router'
</script>

<template lang="pug">
Teleport(to="head")
  //- NOTE: Document title is set via setTitle
  VTranslation(en)
    meta(
      name="description"
      content="The DINI Validator tests an OAI-PMH API according to the requirements of the DINI Certificate for Open Access Publication Services 2022."
    )
  VTranslation(de)
    meta(
      name="description"
      content="Der DINI Validator prüft eine OAI-PMH-API gemäß den Anforderungen des DINI-Zertifikats für Open-Access-Publikationsdienste 2022."
    )

RouterView
</template>

<style lang="scss">
@import './styles/elements';
@import './styles/classes';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
</style>
