<script setup>
import { defineComponent, onMounted, onUpdated, ref } from 'vue'

import hljs from 'highlight.js/lib/core'
import xmlLang from 'highlight.js/lib/languages/xml'
import hljsVuePlugin from '@highlightjs/vue-plugin'
import 'highlight.js/styles/googlecode.css'

import { loading } from '../modules/http'

defineEmits(['loadNext'])
const props = defineProps({
  highlights: Array,
  title: String,
  url: String,
  xml: String,
  nextUrl: String,
  index: Number,
})

// NOTE: Registering the language is not required for dev, but for production.
// There is no error if this line is missing, yet highlighting does not work.
hljs.registerLanguage('xml', xmlLang)

const highlightjs = defineComponent(hljsVuePlugin.component)
const source = ref(undefined)

onMounted(() => {
  addHighlights()
  scrollToFirstHighlight()
})

onUpdated(() => {
  addHighlights()
  scrollToFirstHighlight()
})

function addHighlights () {
  const tags = source.value?.querySelectorAll('.hljs-name') || []
  for (const tag of tags) {
    for (const highlight of props.highlights) {
      if (tag.textContent === highlight) {
        tag.classList.add('highlight')
      }
    }
  }
}

function scrollToFirstHighlight () {
  source.value?.querySelector('.highlight')?.scrollIntoView({
    behavior: 'auto',
    block: 'center',
    inline: 'center',
  })
}
</script>

<template lang="pug">
VModal
  template(#header)
    .header
      h3 {{ $t('XML Preview for') }}
        =' '
        a(:href="url" target="_blank" rel="noopener noreferrer")
          IconOpenInNew
          | {{ title }} {{ index > 1 ? ` &middot; ${index}` : '' }}

      p(v-if="nextUrl")
        a.button.can-fade(
          role="button"
          :class="{ faded: loading }"
          :href="nextUrl"
          @click.prevent="$emit('loadNext')"
        )
          | {{ $t('Next batch') }}
          IconChevronRight(style="margin-right: -.7em")

      p(v-else-if="url.includes('&resumptionToken=')")
        button.button(type="button" @click="$emit('loadNext')")
          IconChevronLeft(style="margin-left: -.7em")
          | {{ $t('First batch') }}

  .source(v-if="xml" ref="source" aria-live="polite")
    highlightjs.can-fade(
      :key="url"
      :class="{ faded: loading }"
      :code="xml"
      language="xml"
    )
</template>

<style lang="scss" scoped>
.header {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem -.25rem .25rem;

  h3,
  p {
    margin: .25rem;
  }

  .button {
    padding: 0 .5rem;
  }
}

.source {
  background: $shade-1;
  overflow: auto;
  overscroll-behavior: contain;
  position: relative;

  .dark & {
    background: $text-muted-color;
  }

  :deep(code) {
    border-radius: 0;
    font: inherit;
  }

  :deep(.hljs) {
    background: none;
    overflow: visible;
    padding: .25rem .5rem;
    position: relative;
    z-index: 0;
  }

  :deep(.highlight) {
    position: relative;

    // background for highlighted elements
    &::after {
      background: $gray-2;
      border-radius: 1rem;
      bottom: -.3em;
      content: '';
      display: block;
      margin-left: -.75rem;
      pointer-events: none;
      position: absolute;
      right: -1.2em;
      top: -.2em;
      width: 9999vw;
      z-index: -1;

      .dark & {
        background: $gray-1;
      }
    }
  }
}

.can-fade {
  transition: opacity $td;
}

.faded {
  opacity: .5;
  pointer-events: none;
}
</style>
