<script setup>
import { computed, inject, reactive, ref } from 'vue'
import { useRoute } from 'vue-router'

import { errorHandler } from '../modules/error'
import { fetchJson } from '../modules/http'

import config from '../config'

const props = defineProps({
  issue: Object,
  oaiApiUrl: String,
})

const i18n = inject('i18n')
const route = useRoute()

const element = ref(undefined)
const id = Math.random().toString(36).slice(2)
const xml = reactive({
  firstUrl: getFirstXmlUrl(),
  highlights: [],
  Index: 0,
  nextUrl: '',
  title: '',
  xml: '',
})

const html = computed(() => {
  const text = i18n.translate(props.issue.text, ...props.issue.values || [])
  return text.replace(
    // Links in issues come as <a>text</a> and get "hydrated" here
    /<a>(.+?)<\/a>/,
    `<a
      role="button"
      href="${xml.firstUrl}"
      target="_blank"
      rel="noopener noreferrer"
      aria-controls="xml-${id}"
      aria-expanded="false"
      aria-label="${i18n.translate('Open XML preview')}"
    >$1</a>`,
  )
})

async function openXml (event) {
  if (event.target.tagName !== 'A') {
    return
  }

  // Issue links are not controlled by Vue, cannot use @click.prevent
  event.preventDefault()

  const response = await loadNextXml()
  if (response) {
    xml.title = event.target.textContent
    xml.highlights = []
    for (const node of event.target.parentNode.querySelectorAll('code')) {
      xml.highlights.push(node.textContent)
    }

    event.target.setAttribute('aria-expanded', true)
  }
}

function getFirstXmlUrl () {
  let oaiQueryAddon = ''
  if (props.issue.verb && /^GetRecord|^ListIdentifiers|^ListRecords/.test(props.issue.verb) && !/&metadataPrefix=|&resumptionToken=/.test(props.issue.verb)) {
    oaiQueryAddon += '&metadataPrefix=oai_dc'
  }

  return `${props.oaiApiUrl}?verb=${props.issue.verb}${oaiQueryAddon}`
}

async function loadNextXml () {
  errorHandler.clear()

  if (xml.nexturl) {
    xml.url = xml.nexturl
  } else {
    xml.index = 0
    xml.url = xml.firstUrl
  }

  const response = await fetchJson(
    `${config.apiUrl}/xml?taskId=${route.params.taskId}&url=${btoa(xml.url)}`,
  )

  if (response) {
    xml.index++
    xml.nexturl = response.resumptionToken
      ? xml.url.replace(/(&metadataPrefix=|&resumptionToken=).*/, '') +
      `&resumptionToken=${response?.resumptionToken}`
      : ''
    xml.xml = response.xml
  }

  return response
}

function closeXml () {
  xml.nexturl = ''
  xml.title = ''

  element.value?.querySelector('a')?.setAttribute('aria-expanded', false)
}
</script>

<template lang="pug">
.issue-text
  //- eslint-disable vuejs-accessibility/click-events-have-key-events
  //- eslint-disable vuejs-accessibility/no-static-element-interactions
  span(ref="element" @click.stop="openXml" v-html="html")

RuleXmlPreview(
  v-if="xml.title"
  :id="`xml-${id}`"
  :highlights="xml.highlights"
  :index="xml.index"
  :nextUrl="xml.nexturl"
  :title="xml.title"
  :url="xml.url"
  :xml="xml.xml"
  @close="closeXml"
  @loadNext="loadNextXml"
)
</template>

<style lang="scss" scoped>
.issue-text {
  :deep(a) {
    margin-left: .25em;

    // XML icon
    &::before {
      @include monospace;
      background: $link-color;
      border-radius: 1rem;
      color: $text-invert-color;
      content: 'XML';
      display: inline-flex;
      line-height: 1;
      margin: 0 .25em 0 -.25em;
      padding: .05em .4em;
    }
  }
}
</style>
