<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router'

import { fetchJson } from '../modules/http'

import config from '../config'

const props = defineProps({
  isChildRule: Boolean,
  rule: Object,
  oaiApiUrl: String,
})

const route = useRoute()

const issuesOffset = ref(0)
const issuesPerFile = 1000
const issuesPerPage = 10
const visibleIssues = ref(undefined)

function formatPassedPercentage (value) {
  if (value < 0.01) {
    return '<&nbsp;1&#8239;%'
  } else if (value > 0.99) {
    return '>&nbsp;99&#8239;%'
  } else {
    return `${Math.round(value * 100)}&#8239;%`
  }
}

async function loadIssues (offset) {
  const n = Math.floor(offset / issuesPerFile) + 1

  const url = `${config.apiUrl}/issues?taskId=${route.params.taskId}&ruleId=${props.rule.id}&n=${n}`
  const issues = await fetchJson(url)

  if (issues) {
    issuesOffset.value = offset
    const delta = offset % issuesPerFile
    visibleIssues.value = issues.slice(delta, delta + 10)
  }
}
</script>

<template lang="pug">
component(:is="isChildRule ? 'h3' : 'h2'")
  span.key {{ rule.key[$route.params.lang || 'en'] }}
  =' '
  span {{ rule.title[$route.params.lang || 'en'] }}

.badges(v-if="!isChildRule")
  p.badge.gray(v-if="!rule.childRules && rule.manual")
    IconExclamation
    span {{ $t('Manual checking required') }}
  p.badge.green(v-else-if="rule.passedRatio === 1")
    IconCheck
    span {{ $t('Passed') }}
  p.badge.orange(v-else-if="rule.passedRatio > 0")
    IconProgressHelper
    span(v-html="$t('$1 passed', formatPassedPercentage(rule.passedRatio))")
  p.badge.red(v-else)
    IconClose
    span {{ $t('Failed') }}

  p.badge.gray-light(v-if="rule.notice")
    IconInformationVariant
    span(v-html="$t(rule.notice)")

  p.badge.gray-light(v-if="!rule.weight")
    IconInformationVariant
    span {{ $t('Does not affect score') }}

.description(v-html="rule.description[$route.params.lang || 'en']")

section.issues(v-if="rule.issuesCount")
  component.issues-heading(:is="isChildRule ? 'h4' : 'h3'")
    IconAlert
    span {{ rule.issuesCount === 1 ? $t('Issue found') : $t('$1 issues found', rule.issuesCount) }}

  table(ref="issuesEl")
    tr(v-for="issue, index in visibleIssues || rule.issues" :key="issue")
      th.issue-number {{ issuesOffset + 1 + index }}.
      td.issue-text
        RuleIssue(:issue="issue" :oaiApiUrl="oaiApiUrl")

  .pagination(v-if="rule.issuesCount > issuesPerPage")
    VPagination(
      :itemsCount="rule.issuesCount"
      :itemsPerPage="issuesPerPage"
      :offset="issuesOffset"
      @setOffset="offset => loadIssues(offset)"
    )
</template>

<style lang="scss" scoped>
h2 {
  display: flex;
  margin: 0 0 1rem;
}

h3 {
  display: flex;
  margin: 1rem 0 .5rem;
}

.description {
  :deep(li),
  :deep(ol),
  :deep(p),
  :deep(ul) {
    margin: 0 0 .5rem;

    &:last-child {
      margin: 0;
    }
  }
}

.key {
  @include monospace;
  border-right: 1px solid $border-color;
  color: $text-muted-color;
  margin: -.3em .5rem -.3em 0;
  padding: .3em .5rem .3em 0;
  text-transform: uppercase;
  white-space: nowrap;

  h3 & {
    line-height: 1rem;
  }
}

.issues {
  background: $bg-muted-color;
  border-radius: 1rem;
  margin: 1rem 0 0;
  padding: .5rem .75rem;
  position: relative;

  > :last-child {
    margin-bottom: 0;
  }
}

.issues-heading {
  box-shadow: 0 -1px $border-shade inset;
  display: flex;
  font-size: $font-size-small;
  margin: -.5rem -.75rem .5rem -.25rem;

  > :last-child {
    flex: 1;
    padding: .25rem .5rem;
  }

  .material-design-icon {
    align-items: center;
    background: $gray-3;
    border-radius: 50%;
    color: $white;
    display: flex;
    margin-left: -.75rem;
    padding: .2rem .25rem .3rem;
  }
}

.issue-number {
  padding: 0;
  text-align: right;
  white-space: nowrap;

  tr:only-child > & {
    display: none;
  }
}

.issue-text {
  padding: 0;

  :deep(ul) {
    margin: 0;
  }
}
</style>
