<script setup>
defineProps({
  decorated: {
    type: Boolean,
    default: true,
  },
})
</script>

<template lang="pug">
footer.footer
  VDecoration(v-if="decorated")
  VLoading
  VError

  ul.links
    li
      VLink.link(to="contact") {{ $t('Contact') }}
    li
      VLink.link(to="legal") {{ $t('Legal Notice & Privacy') }}
    li
      a.link(
        href="https://gitlab.gwdg.de/sub-epu/dini-validator"
        :aria-label="$t('Source code at GitLab')"
        :title="$t('Source code at GitLab')"
      )
        IconGitlab
</template>

<style lang="scss" scoped>
.footer {
  @include dotted-background;
  box-shadow: 0 1px $border-shade inset;
  padding: .5rem .25rem;
  position: relative;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 -.25rem;
  padding: 0;
  z-index: 1;

  > li {
    margin: 0 0 .25rem;

    &::before {
      content: none;
    }
  }
}

.link {
  @include caps;
  display: block;
  margin: 0;
  padding: .25rem .75rem;
  position: relative;
  text-decoration: none;
}
</style>
