<script setup>
defineEmits(['toggleSidebar'])
defineProps({
  score: Number,
  sidebarOpen: Boolean,
})
</script>

<template lang="pug">
header.header(:class="{ fixed: $slots.title, small: !$slots.title && $route.name !== 'home' }")
  .top
    .nav-toggle(v-if="$slots.title" :class="{ open: sidebarOpen }")
      button(
        :aria-label="$t('Toggle sidebar')"
        aria-controls="sidebar"
        :aria-expanded="sidebarOpen"
        @click="$emit('toggleSidebar')"
      )
        IconMenu
        IconClose

    component.logo(:is="$route.name === 'home' ? 'h1' : 'div'")
      VLink(to="home")
        img.dangle-bg(
          v-if="$route.name === '404'"
          alt=""
          src="/dini-logo.svg"
          width="200"
          height="200"
        )
        img(
          :class="{ dangle: $route.name === '404' }"
          alt=""
          src="/dini-logo.svg"
          width="200"
          height="200"
        )
        //- NOTE: <title> is built from h1 and img alt is not part of textContent
        span.sr-only DINI
        =' '
        span Validator

    .title
      //- For large screens
      slot(name="title")

      aside.aside
        VLanguageSelector.language
        VDiniScore(v-if="score" :score="score")

  //- For small screens
  slot(name="title")
</template>

<style lang="scss" scoped>
.header {
  z-index: 2;
  &.fixed {
    margin-bottom: 2.5rem; // make room for fixed header
  }

  > :deep(h1) {
    box-shadow: 0 -1px $border-shade inset;
    font-size: 1.3333em;
    margin: 2.5rem 0 -2.5rem;
    padding: .75rem .5rem;

    @media #{$large} {
      display: none;
    }

    b {
      font-weight: 600;
    }
  }
}

.top {
  @include dotted-background;
  box-shadow: 0 -1px $border-shade inset;
  display: flex;
  width: 100%;

  .fixed & {
    position: fixed;
  }
}

.nav-toggle {
  border-right: 1px solid $border-color;
  margin: .5rem 0;

  @media #{$large} {
    display: none;
  }

  button {
    background: none;
    border: 0;
    border-radius: 1rem;
    color: $link-color;
    display: flex;
    margin: -.25rem .25rem;
    overflow: hidden;
    padding: .25rem;
    transition: background $td;

    &:hover,
    &:focus {
      backdrop-filter: blur(.5px);
      background: $link-shade;
    }
  }

  .material-design-icon {
    transition: all $td;

    &:last-child {
      opacity: 0;
      margin-left: -1.5rem;
      transform: rotateY(90deg);
    }
  }

  &.open {
    .material-design-icon {
      &:first-child {
        opacity: 0;
        transform: rotateY(90deg);
      }

      &:last-child {
        opacity: 1;
        transform: none;
      }
    }
  }

  // stylelint-disable-next-line selector-class-pattern
  :deep(.material-design-icon__svg) {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.logo {
  box-shadow: none;
  display: flex;
  font-size: 2.37em;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 1.5rem auto;
  padding: 0;
  position: relative;

  .fixed & {
    font-size: 1.3333em;
    margin: .25rem .5rem;
    padding: 0;
  }

  .small & {
    font-size: 1.3333em;
    line-height: 1rem;
    margin: .75rem auto;
  }

  a {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-decoration: none;

    &:focus,
    &:hover {
      backdrop-filter: none;
      background: none;
      box-shadow: none;
    }

    .fixed & {
      align-items: center;
      flex-direction: row;
    }
  }

  img {
    height: 6rem;
    width: auto;

    .fixed & {
      height: 2rem;
    }

    .small & {
      height: 3rem;
    }
  }

  // App title
  span {
    background: linear-gradient(to right, $blue, $green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: block;
    margin: 1rem 0 0;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

    .dark & {
      background-image: linear-gradient(to right, color.mix($white, $blue, 20%), $green);
    }

    .fixed & {
      margin: 0 0 0 .5rem;
    }

    .small & {
      margin: .5rem 0 0;
    }
  }
}

.title {
  position: absolute;
  right: .5rem;
  top: .5rem;

  .fixed & {
    align-items: center;
    display: flex;
    flex: 1;
    position: static;
  }

  :deep(h1) {
    border-left: 1px solid $border-color;
    box-shadow: none;
    display: none;
    font-size: 1.3333em;
    margin: .25rem 0;
    max-width: calc(100vw - 18rem); // NOTE: This has to be updated if there are more than 2 languages
    overflow: hidden;
    padding: 0 .5rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media #{$large} {
      display: block;
    }

    b {
      font-weight: 600;
    }
  }
}

.aside {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.language {
  .fixed & {
    display: none;
    margin-right: .5rem;

    @media #{$medium} {
      display: block;
    }
  }
}

// :)
.dangle-bg {
  filter: grayscale(1);
  left: 50%;
  opacity: .2;
  position: absolute;
  transform: translate(-50%)
}

.dangle {
  animation:
    a 1s ease-in forwards,
    b 2s ease-in-out forwards 1s,
    c 3s cubic-bezier(.5, 0, .5, 1) infinite 3s;
  transform-origin: 50% 95%;

  @keyframes a {
    100% {
      transform: rotate(20deg);
    }
  }

  @keyframes b {
    50% {
      transform: rotate(215deg);
    }

    100% {
      transform: rotate(175deg);
    }
  }

  @keyframes c {
    50% {
      transform: rotate(185deg);
    }

    100% {
      transform: rotate(175deg);
    }
  }
}
</style>
