<script setup>
defineEmits(['close'])
defineProps({
  open: Boolean,
  rules: Array,
})
</script>

<template lang="pug">
nav.sidebar(:class="{ open }")
  .main
    VLanguageSelector.language

    ol.list
      li
        a.link(href="#" @click="$emit('close')")
          span.key {{ $t('Intro') }}
          =' '
          span.title {{ $t('Summary') }}

      li(
        v-for="rule, index in rules"
        :key="rule.id"
        :style="`animation-delay: ${index / 100}s`"
      )
        a.link(:href="`#${rule.id}`" @click="$emit('close')")
          span.key {{ rule.key[$route.params.lang || 'en'] }}
          =' '
          span.title {{ rule.title[$route.params.lang || 'en'] }}

          IconExclamation.icon.gray(v-if="!rule.childRules && rule.manual")
          IconCheck.icon.green(v-else-if="rule.passedRatio === 1")
          IconProgressHelper.icon.orange(v-else-if="rule.passedRatio > 0")
          IconClose.icon.red(v-else)

  TheFooter.footer(:decorated="false")
</template>

<style lang="scss" scoped>
.sidebar {
  display: none;
  flex-direction: column;
  height: calc(100vh - 2.5rem);
  left: 0;
  overflow: auto;
  overscroll-behavior: contain;
  position: fixed;
  top: 2.5rem;
  width: 100%;
  z-index: 4;

  @media #{$large} {
    box-shadow: 1px 0 $border-shade;
    display: flex;
    overflow: visible;
    width: 18rem;
  }

  &.open {
    display: flex;
  }
}

.main {
  @media #{$large} {
    overflow: auto;
  }
}

.language {
  background: $bg-color;
  box-shadow: 0 1px $border-shade;
  padding: .25rem;
  position: relative;

  @media #{$medium} {
    display: none;
  }
}

.list {
  background: $bg-color;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    animation: slidein $td forwards;

    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      transform: translateY(-1rem);
    }

    @keyframes slidein {
      100% {
        opacity: 1;
        transform: none;
      }
    }

    &:not(:last-child) {
      box-shadow: 0 -1px $border-shade inset;
    }
  }
}

.link {
  border: 0;
  border-radius: 0;
  color: inherit;
  display: flex;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0;
  padding: .5rem;
  text-decoration: none;
  text-transform: none;
  transition: background $td;
  width: 100%;

  &:focus,
  &:hover {
    background: $shade-1;
  }
}

.key {
  @include monospace;
  border-right: 1px solid $border-color;
  color: $link-color;
  flex: 0 0 3.25rem;
  margin: -.1em .5rem -.1em 0;
  padding: .1em .5rem .1em 0;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
}

.title {
  flex: 1;
}

.icon {
  border-radius: 50%;
  color: $white;
  height: 1.5rem;
  margin: -.25rem -.25rem -.25rem .5rem;
  padding: .25rem;
}
</style>
