<script setup>
import { onUnmounted, ref } from 'vue'

import { formatDuration, formatTimestamp } from '../modules/format'
import { clearScrollTimeout, scrollToHash, updateUrlHash } from '../modules/ui'

import config from '../config'

defineProps({
  result: Object,
})

const ruleElements = ref(undefined)

window.addEventListener('scroll', updateHash)
window.addEventListener('hashchange', scrollToHash)

onUnmounted(() => {
  clearScrollTimeout()
  window.removeEventListener('scroll', updateHash)
  window.removeEventListener('hashchange', scrollToHash)
})

function updateHash () {
  updateUrlHash(ruleElements.value)
}
</script>

<template lang="pug">
.result
  section.errors(v-if="result.errors?.length")
    h2
      IconAlert
      =' '
      | {{ $t('Errors') }}
    p {{ $t('Serious errors occurred during validation, the result may not be meaningful.') }}
    ul
      li(
        v-for="error in result.errors"
        :key="error"
        v-html="$t(error.message, ...error.values || [])"
      )

  section.intro
    h2
      VTranslation(en) Summary
      VTranslation(de) Zusammenfassung
    table
      tr
        th {{ $t('OAI API URL') }}
        td
          a(:href="result.oaiApiUrl") {{ result.oaiApiUrl }}
      tr
        th {{ $t('Timestamp') }}
        td {{ formatTimestamp(result.timestamp) }}
      tr
        th {{ $t('Runtime') }}
        td(v-html="formatDuration(result.runtime)")
      tr
        th {{ $t('Files downloaded') }}
        td {{ $i18n.formatNumber(result.filesDownloaded) }}
      tr
        th {{ $t('Records checked') }}
        td {{ $i18n.formatNumber(result.recordsChecked) }}
      tr
        th {{ $t('Ruleset') }}
        td {{ result.rulesetVersion }}
      tr
        th {{ $t('DINI Score') }}
        td
          b {{ $i18n.formatNumber(result.score, result.score < 100 ? 1 : 0) }}&#8239;%

    p
      a(:href="`${config.apiUrl}/result?taskId=${$route.params.taskId}`")
        | {{ $t('Download results as JSON') }}

  section
    ol.rules
      li.rule(
        v-for="rule in result.rules"
        :id="rule.id"
        :key="rule.id"
        ref="ruleElements"
      )
        RuleDetails(
          :oaiApiUrl="result.oaiApiUrl"
          :rule="rule"
        )

        ol.child-rules
          li(v-for="childRule in rule.childRules" :key="childRule.id")
            RuleDetails(
              :isChildRule="true"
              :oaiApiUrl="result.oaiApiUrl"
              :rule="childRule"
            )
</template>

<style lang="scss" scoped>
p,
ol,
ul {
  margin: 0 0 .5rem;

  &:last-child {
    margin: 0;
  }
}

.result {
  background: $bg-color;

  @media #{$large} {
    margin: 0 0 2.5rem 18rem;
  }
}

.errors {
  background: $shade-1;
  box-shadow: 0 -1px $border-shade inset;
  font-weight: 500;
  max-width: none;
  padding: 1rem .5rem;

  @media #{$medium} {
    padding: 1rem;
  }
}

.intro {
  background: $shade-1;
  box-shadow: 0 -1px $border-shade inset;
  padding: 1rem .5rem;

  @media #{$medium} {
    padding: 1rem;
  }

  table {
    margin: 0 0 1rem;
  }

  tr {
    display: block;

    @media #{$medium} {
      display: table-row;
    }

    &:not(:last-child) {
      margin-bottom: .25rem;
    }
  }

  th {
    @include monospace;
    display: block;
    padding: 0;
    white-space: nowrap;

    @media #{$medium} {
      display: table-cell;
      padding: 0 .75rem 0 0;
      position: relative;
    }

    &::after {
      @media #{$medium} {
        border-bottom: 1px dotted;
        bottom: .25rem;
        content: '';
        margin-left: .25rem;
        position: absolute;
        width: 100%;
      }
    }
  }

  td {
    display: block;
    padding: 0;

    @media #{$medium} {
      display: table-cell;
      padding: 0 0 0 .25rem;
    }
  }
}

.rules {
  box-shadow: 0 1px $border-shade;
  list-style: none;
  margin: 0;
  padding: 0 1rem;

  > li {
    margin: 0 -1rem;
    padding: 1rem .5rem;

    @media #{$medium} {
      padding: 1rem;
    }

    &:not(:last-child) {
      box-shadow: 0 -1px $border-shade inset;
    }
  }
}

.child-rules {
  list-style: none;
  padding: 0;
}
</style>
