<script setup>
import { reactive } from 'vue'

const borderRadiuses = [
  '0',
  '99em 0 0 0',
  '0 99em 0 0',
  '0 0 99em 0',
  '0 0 0 99em',
]
const styles = reactive(Array.from({ length: 4 }))

styles.map((style, index) => updateStyle(index))

// Get a random integer between 0 and max (both inclusive)
function randomInt (max) {
  return Math.floor(Math.random() * (max + 1))
}

function updateStyle (index) {
  styles[index] = [
    (index < styles.length / 2 ? 'left: 0' : 'right: 0'),
    `border-radius: ${borderRadiuses[randomInt(borderRadiuses.length - 1)]}`,
    `width: ${24 + randomInt(12)}vmin`,
    `height: ${18 + randomInt(18)}vmin`,
    `transform: translate(${index < styles.length / 2 ? '-50%' : '50%'}, ${randomInt(-50)}%)` +
      ` rotate(${45 + randomInt(3) * 90}deg)`,
  ].join(';')
}
</script>

<template lang="pug">
//- eslint-disable vuejs-accessibility/click-events-have-key-events
//- eslint-disable vuejs-accessibility/no-static-element-interactions
.container(role="none")
  .drawing(
    v-for="style, index in styles"
    :key="index"
    :class="`color-${index % 4 + 1}`"
    :style="style"
    @click="updateStyle(index)"
  )
</template>

<style lang="scss" scoped>
.container {
  bottom: 100%;
  display: none;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;

  @media #{$large} {
    display: block;
  }
}

.drawing {
  background:
    repeating-linear-gradient(
      currentcolor,
      currentcolor 1px,
      transparent 1px,
      transparent 4px
    );
  background-size: 4px; // Chrome + Safari fix
  bottom: 0;
  position: absolute;
  transition: all $td;
}

.color-1 {
  color: $red;
}

.color-2 {
  color: $blue;
}

.color-3 {
  color: $orange;
}

.color-4 {
  color: $green;
}
</style>
