<script setup>
defineProps({
  score: Number,
})
</script>

<template lang="pug">
p.score(v-if="score")
  span.score-title {{ $t('DINI Score') }}
  span.score-value {{ $i18n.formatNumber(score, score < 100 ? 1 : 0) }}
    span(style="margin-left: .3em") %
</template>

<style lang="scss" scoped>
.score {
  background: $link-color;
  color: $text-invert-color;
  display: none;
  line-height: 1.25rem;
  margin: 0;
  padding: .25rem .75rem;
  white-space: nowrap;

  @media #{$small} {
    display: block;
  }
}

.score-title {
  display: block;
  font-size: .75em;
  font-weight: 600;
  margin: -.25rem 0;
  text-align: left;
}

.score-value {
  @include monospace;
  font-size: 1.3333em;
}
</style>
