<script setup>
import { error, errorHandler } from '../modules/error'

defineEmits(['close'])

if (process.env.NODE_ENV === 'development') {
  const query = new URLSearchParams(location.search)
  if (query.get('error') !== null && !error.value) {
    errorHandler.set(query.get('error') || 'Something went wrong')
  }
}
</script>

<template lang="pug">
.error(v-if="error" :key="error.timestamp" role="alert" @click.stop)
  .icon
    IconRobotDead
  .message
    p {{ $t(error.message) }}
  button.button.outline(:aria-label="$t('Close')" @click="errorHandler.clear()")
    IconClose
</template>

<style lang="scss" scoped>
.error {
  align-items: flex-start;
  animation: appear $td;
  backdrop-filter: blur(1rem);
  background: $shine;
  border-radius: 1rem;
  box-shadow: $drop-shadow;
  color: $error-color;
  display: flex;
  left: 50%;
  max-width: calc(100vw - 2rem);
  min-width: 12rem;
  padding: .25rem .5rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(.8);
    }
  }
}

.icon {
  align-self: flex-start;
  background: $error-color;
  border-radius: 50%;
  color: $white;
  display: flex;
  margin: 0 .5rem 0 -.25rem;
  padding: .25rem;

  .material-design-icon {
    transform: translateY(-.1em);
  }
}

.message {
  flex: 1;
  font-weight: 500;
  padding: .25rem 0;

  > :last-child {
    margin-bottom: 0;
  }
}

.button {
  margin: 0 -.25rem 0 1rem;
  padding: .25rem;
}
</style>
