<script setup>
import { computed, inject } from 'vue'
import { RouterLink, useRoute, useRouter } from 'vue-router'

import config from '../config'

const i18n = inject('i18n')
const router = useRouter()
const route = useRoute()

const visibleLanguages = computed(() => {
  if (!config.languages) {
    return
  }

  const visibleLanguages = {}
  const currentLang = route.params.lang || i18n.defaultLang
  for (const code in config.languages) {
    if (code !== currentLang) {
      visibleLanguages[code] = config.languages[code]
    }
  }
  return visibleLanguages
})

setLanguage()

function saveLanguage (code) {
  window.localStorage.setItem('language', code)
}

function setLanguage () {
  if (route.params.lang) {
    return
  }

  const preferredLang = window.localStorage.getItem('language') ||
    navigator.language.slice(0, 2) ||
    i18n.defaultLang
  if (preferredLang === i18n.defaultLang && !route.params.lang) {
    return
  }

  router.replace({
    name: route.params.name,
    params: {
      lang: preferredLang === i18n.defaultLang ? '' : preferredLang,
    },
  })
}
</script>

<template lang="pug">
.language
  h2.sr-only {{ $t('Language') }}
  ul.languages
    li(v-for="name, code in visibleLanguages" :key="code")
      RouterLink.link(
        :hreflang="code"
        :lang="code"
        :to="{ name: $route.name, params: { lang: code === i18n.defaultLang ? '' : code } }"
        @click="saveLanguage(code)"
      ) {{ name }}
</template>

<style lang="scss" scoped>
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 -.25rem;
  padding: 0;

  > li {
    margin: 0 0 .25rem;

    &::before {
      content: none;
    }
  }
}

.link {
  @include caps;
  background: none;
  border: 0;
  border-radius: 1rem;
  display: block;
  margin: 0;
  padding: .25rem .75rem;
  position: relative;
  text-decoration: none;
  transition: background $td, box-shadow $td, color $td;

  &:focus-visible,
  &:hover {
    backdrop-filter: blur(.5px);
    background: $link-shade;
  }
}
</style>
