<script setup>
import { RouterLink } from 'vue-router'

defineProps({
  to: String,
})
</script>

<template lang="pug">
RouterLink(:to="{ name: to, params: { lang: $route.params.lang } }")
  slot
</template>
