<script setup>
import { loading } from '../modules/http'

if (process.env.NODE_ENV === 'development') {
  const query = new URLSearchParams(location.search)
  if (query.get('loading') !== null) {
    loading.value = true
  }
}
</script>

<template lang="pug">
.loading(v-if="loading" aria-busy="true" aria-live="polite")
  p.sr-only {{ $t('Loading') }}
</template>

<style lang="scss" scoped>
$spinner-size: 56px; // match size of small DINI logo in TheHeader.vue

.loading {
  animation: fadein 1.5s, spin 1s linear infinite;
  left: 50%;
  margin: $spinner-size * -.5;
  pointer-events: none;
  position: fixed;
  top: 50%;
  z-index: 9;

  @keyframes fadein {
    0% {
      opacity: 0;
    }
  }

  @keyframes spin {
    100% {
      transform: perspective(8rem) rotateY(-360deg);
    }
  }

  &::after {
    border: ($spinner-size * .161) solid $shade-4;
    border-radius: ($spinner-size * .161);
    content: '';
    display: block;
    height: $spinner-size;
    margin: auto;
    transform: rotateZ(45deg);
    width: $spinner-size;
  }
}
</style>
