<script setup>
import { getCurrentInstance, onUnmounted } from 'vue'

const emit = defineEmits(['close'])
const close = (event) => {
  if (!event?.key || event.key === 'Escape') {
    emit('close')
  }
}

defineProps({
  id: String,
})

// Allow only allow one modal at a time, close previous one
const global = getCurrentInstance().appContext.config.globalProperties
global.modal?.close()
global.modal = { close }

window.addEventListener('click', close)
window.addEventListener('keydown', close)

onUnmounted(() => {
  window.removeEventListener('click', close)
  window.removeEventListener('keydown', close)
})
</script>

<template lang="pug">
section.modal(
  :id="id"
  aria-modal="true"
  :aria-describedby="`${id}-title`"
  @click.stop
)
  header.header
    .header-content(:id="`${id}-title`")
      slot(name="header")
    button.button.outline(
      :aria-label="$t('Close')"
      @click="$emit('close')"
    )
      IconClose
  slot
</template>

<style lang="scss" scoped>
.modal {
  animation: appear $td;
  backdrop-filter: blur(1rem);
  background: $shine;
  border-radius: 1rem;
  box-shadow: $drop-shadow;
  display: flex;
  flex-direction: column;
  left: .5rem;
  max-height: calc(100vh - 5rem);
  max-width: calc(100% - 1rem);
  padding: .5rem;
  position: fixed;
  top: 3rem;
  z-index: 1;

  @media #{$large} {
    left: 18rem + .5rem;
    max-width: calc(100% - 18rem - 1rem);
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(.95);
    }
  }
}

.header {
  display: flex;
}

.header-content {
  flex: 1;
  margin-right: .5rem;
}

.button {
  align-self: flex-start;
  margin: -.25rem -.25rem .25rem auto;
  padding: .25rem;
}
</style>
