<script setup>
import { computed, onMounted, ref } from 'vue'

const emit = defineEmits(['setOffset'])
const props = defineProps({
  itemsCount: Number,
  itemsPerPage: Number,
  offset: Number,
})

const maxLength = 11

const element = ref(undefined)
const length = ref(maxLength)

const currentPage = computed(() => props.offset / props.itemsPerPage + 1)
const pageCount = computed(() => Math.ceil(props.itemsCount / props.itemsPerPage))

onMounted(() => {
  const resizeObserver = new ResizeObserver((entries) => {
    for (const entry of entries) {
      // 90px is a good estimate for the width of pagination links
      let value = Math.floor(entry.contentRect.width / 90)
      if (value % 2) {
        value++
      }

      length.value = Math.min(Math.max(value, 5), maxLength)
    }
  })

  resizeObserver.observe(element.value)
})

function isPageVisible (page) {
  return (
    page === 1 ||
    page === pageCount.value ||
    (currentPage.value <= Math.ceil(length.value / 2) && page < length.value - 1) ||
    (currentPage.value > pageCount.value - Math.ceil(length.value / 2) &&
      page > pageCount.value - length.value + 2) ||
    Math.abs(page - currentPage.value) < Math.floor((length.value - 2) / 2)
  )
}

function setPage (page) {
  if (page >= 1 && page <= pageCount.value) {
    emit('setOffset', Number.parseInt((page - 1) * props.itemsPerPage))
  }
}
</script>

<template lang="pug">
p.pagination(ref="element")
  button.link.prev(
    :disabled="currentPage === 1"
    rel="prev"
    :aria-label="$t('Previous page')"
    @click.prevent="setPage(currentPage - 1)"
  )
    IconChevronLeft

  template(v-for="page in pageCount" :key="page")
    template(v-if="isPageVisible(page)")
      span.hellip(
        v-if="pageCount > length && page === pageCount && currentPage <= pageCount - Math.ceil(length / 2)"
        :key="page"
      ) &hellip;
      button.link(
        :key="page"
        :disabled="page === currentPage"
        :class="{ current: page === currentPage }"
        :aria-label="$t('Page $1', page) + (page === pageCount ? ' ' + $t('(last page)') : '')"
        @click="setPage(page)"
      ) {{ page }}
      span.hellip(
        v-if="pageCount > length && page === 1 && currentPage > Math.ceil(length / 2)"
        :key="page"
      ) &hellip;

  button.link.next(
    :disabled="currentPage === pageCount"
    rel="next"
    :aria-label="$t('Next page')"
    @click="setPage(currentPage + 1)"
  )
    IconChevronRight
</template>

<style lang="scss" scoped>
.pagination {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem -.5rem;
  user-select: none;
}

.link {
  @include monospace;
  background: none;
  border: 0;
  border-radius: 1rem;
  color: $link-color;
  cursor: pointer;
  font-size: .75em;
  height: 1.5rem;
  letter-spacing: 0;
  margin: .25rem 1px 0 0;
  min-width: 1.5rem;
  padding: 0 .5rem;
  white-space: nowrap;

  &:enabled {
    &:focus,
    &:hover {
      backdrop-filter: blur(.5px);
      background: $link-shade;
    }
  }

  &.current {
    background: $link-color;
    box-shadow: none;
    color: $text-invert-color;
  }

  &.prev,
  &.next {
    box-shadow: 0 0 0 1px inset;
    margin: .25rem;
    width: 2.427rem;

    &:disabled {
      opacity: .5;
    }
  }
}

.hellip {
  margin-right: 1px;
  text-align: center;
  width: 1.5rem;
}
</style>
