<script setup>
import { useAttrs } from 'vue'

import config from '../config'

defineOptions({
  inheritAttrs: false,
})

const lang = Object.keys(useAttrs())[0]
</script>

<template lang="pug">
slot(v-if="(!$route.params.lang && lang === config.defaultLang) || lang === $route.params.lang")
</template>
