<script setup>
</script>

<template lang="pug">
.warning(role="alert")
  IconExclamation.icon
  .message
    slot
</template>

<style lang="scss" scoped>
.warning {
  align-items: flex-start;
  animation: appear $td;
  color: $error-color;
  display: flex;
  margin: 0 auto 1rem;
  max-width: 24rem;
  width: 100%;

  @keyframes appear {
    0% {
      opacity: 0;
    }
  }
}

.icon {
  background: $error-color;
  border-radius: 50%;
  color: $white;
  margin: 0 .5rem 0 -.25rem;
  padding: .25rem;
}

.message {
  flex: 1;
  font-weight: 500;
  padding: .25rem 0;

  > :last-child {
    margin-bottom: 0;
  }
}
</style>
