<template lang="pug">
TheHeader

main
  h1 {{ $t('Contact') }}

  VTranslation(en)
    h2 DINI Office
    address
      p Claudia Walther
      p c/o Niedersächsische Staats- und Universitätsbibliothek Göttingen
      p Platz der Göttinger Sieben 1
      p 37073 Göttingen
      p Germany
    p(style="margin: 0") Phone: +49 (0) 551 39-28536
    p Email: #[a(href="mailto:gs@dini.de") gs@dini.de]

    h2 Working Group “Electronic Publishing”
    p(style="margin: 0") Website: #[a(href="https://dini.de/e-pub1") dini.de/e-pub1]
    p Email: #[a(href="mailto:epub-sprecher@dini.de") epub-sprecher@dini.de]

  VTranslation(de)

    h2 DINI-Geschäftsstelle
    address
      p Claudia Walther
      p c/o Niedersächsische Staats- und Universitätsbibliothek Göttingen
      p Platz der Göttinger Sieben 1
      p 37073 Göttingen
      p Deutschland
    p(style="margin: 0") Telefon: +49 (0) 551 39-28536
    p E-Mail: #[a(href="mailto:gs@dini.de") gs@dini.de]

    h2 Arbeitsgruppe »Elektronisches Publizieren«
    p(style="margin: 0") Website: #[a(href="https://dini.de/e-pub") dini.de/e-pub]
    p E-Mail: #[a(href="mailto:epub-sprecher@dini.de") epub-sprecher@dini.de]

TheFooter
</template>
