<script setup>
import { reactive, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import { fetchJson } from '../modules/http'
import { cache } from '../modules/cache'

import config from '../config'

const route = useRoute()
const router = useRouter()

const options = reactive({
  oaiApiUrl: new URLSearchParams(location.search).get('url') || '',
  recordsLimit: config.recordsLimitOptions[0],
  email: cache.get('email') || '',
})
const status = ref({})

if (process.env.NODE_ENV === 'development') {
  const query = new URLSearchParams(location.search)
  if (query.get('busy') !== null) {
    status.value = {
      busy: true,
      oaiApiUrl: 'https://example.org/this-is-a-perfect-oai-api-but-it-has-quite-a-long-url',
      taskId: 'perfect-result',
    }
  }
}

async function validate () {
  cache.set('email', options.email)

  status.value = await fetchJson(`${config.apiUrl}/validate`, {
    body: JSON.stringify({
      oaiApiUrl: options.oaiApiUrl,
      recordsLimit: options.recordsLimit,
      email: options.email,
      timestamp: Date.now(),
    }),
    headers: { Connection: 'close' },
    method: 'POST',
  }, false)

  if (status.value && !status.value.busy) {
    watchProgress(status.value.taskId)
  }
}

function watchProgress (taskId) {
  router.push({ name: 'validation', params: { lang: route.params.lang, taskId } })
}
</script>

<template lang="pug">
TheHeader

main(v-if="status.busy")
  VTranslation(en)
    h2.center Validation in Progress
    p The OAI-PMH API at #[a(:href="status.oaiApiUrl" target="_blank" rel="noopener noreferrer") {{ status.oaiApiUrl }}] is currently being validated. It is only possible to validate one repository at the same time.
  VTranslation(de)
    h2.center Laufende Validierung
    p Die OAI-API von #[a(:href="status.oaiApiUrl" target="_blank" rel="noopener noreferrer") {{ status.oaiApiUrl }}] wird gerade validiert. Es ist nur mögliche eine laufende Validierung pro Repositorium durchzuführen.

  p.center(style="margin-top: 1.5rem")
    button.button(type="button" @click="watchProgress(status.taskId)")
      VTranslation(en) Watch progress
      VTranslation(de) Fortschritt verfolgen

  p.center
    button.button.outline(type="button" @click="options.oaiApiUrl = ''; status.busy = false")
      VTranslation(en) Validate another OAI-PMH API
      VTranslation(de) Eine andere OAI-PMH-API validieren

main(v-else)
  VTranslation(en)
    p The #[b DINI Validator] enables you to test if the #[a(href="https://www.openarchives.org/pmh/") OAI-PMH API] of your open access publication service and its records fulfill the requirements of the #[a(href="https://dini.de/dienste-projekte/dini-zertifikat/english/about-the-certificate") DINI Certificate]. You will receive an email with the validation result and hints on how to optimize your service.
  VTranslation(de)
    p Mit dem #[b DINI Validator] können Sie Ihren Open-Access-Publikationsdienst auf die Konformität der #[a(href="https://www.openarchives.org/pmh/") OAI-PMH-Schnittstelle] und Records gemäß des #[a(href="https://dini.de/dienste-projekte/dini-zertifikat") DINI-Zertifikats] überprüfen. Das Ergebnis der Validierung erhalten Sie in einer E-Mail mit Hinweisen zur Optimierung Ihres Dienstes.

  form(style="margin: 1.5rem 0 0" @submit.prevent="validate()")
    p
      label {{ $t('OAI API URL') }}
        //- NOTE: id attribute required for browser autofill
        input#url(
          v-model="options.oaiApiUrl"
          type="url"
          maxlength="200"
          placeholder="https://example.org/oai/request"
          required
          :aria-describedby="options.oaiApiUrl.startsWith('http:') ? 'httpHint' : ''"
          @blur="options.oaiApiUrl = options.oaiApiUrl.trim().split('?')[0].split('#')[0]"
        )

    VWarning#httpHint(v-if="/^http:/i.test(options.oaiApiUrl)" style="margin-top: -.5rem")
      VTranslation(en)
        p An OAI API should be using HTTPS. While HTTP can still be validated, please upgrade to HTTPS as soon as possible.
      VTranslation(de)
        p Eine OAI-API sollte HTTPS verwenden. HTTP kann zwar validiert werden, sollte aber baldmöglichst auf HTTPS umgestellt werden.

    fieldset(:aria-describedby="!options.recordsLimit ? 'allRecordsHint' : ''")
      legend {{ $t('Records to check') }}

      p(role="radiogroup")
        label(v-for="value in config.recordsLimitOptions" :key="value")
          input(
            v-model="options.recordsLimit"
            type="radio"
            :value="value"
          )
          span {{ value || $t('all') }}

      VWarning#allRecordsHint(v-if="!options.recordsLimit" style="margin-top: -.5rem")
        VTranslation(en)
          p Validating all records can take several hours for a large repository.
        VTranslation(de)
          p Die Validierung aller Records kann bei einem großen Repository mehrere Stunden dauern.

    p
      label {{ $t('Email address for validation results') }}
        //- NOTE: id attribute is required for browser autofill
        input(
          id="email"
          v-model="options.email"
          type="email"
          maxlength="200"
          placeholder="admin@example.org"
          required
          @blur="$event.target.value = $event.target.value.trim()"
        )

    p.center(style="margin-top: 1.5rem")
      button.button(type="submit") {{ $t('Start validation') }}

TheFooter
</template>

<style lang="scss" scoped>
fieldset {
  border: 0;
  padding: 0;
  text-align: left;
}

label,
legend {
  display: block;
  font-weight: 500;
  margin: 0 0 .25rem;
  padding: 0;
  text-align: left;
}

fieldset label {
  font-weight: 300;
}

form {
  > :last-child {
    margin-bottom: 0;
  }
}

[role='radiogroup'] {
  margin: 0 -.25rem 1rem;

  @media #{$small} {
    display: flex;
    flex-wrap: wrap;
  }

  > label {
    flex: 1;
    margin: 0;
  }
}

[type='email'],
[type='url'] {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px $border-color inset;
  display: block;
  margin: .25rem -.25rem 0;
  padding: .5rem .75rem;
  width: calc(100% + .25rem * 2);

  &:focus {
    box-shadow: 0 0 0 1px $link-color inset, 0 0 0 .3em $button-shade;
    outline: 0;
  }

  &:hover:not(:focus) {
    box-shadow: 0 0 0 1px $link-color inset;
  }
}

[type='radio'] {
  opacity: 0;
  position: absolute;

  + span {
    background: $bg-color;
    box-shadow: 0 0 0 1px $border-color inset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .5rem .75rem;
    position: relative;
    transition: background $td, box-shadow $td, color $td, z-index $td;
    white-space: nowrap;
    z-index: 0;

    &:hover {
      z-index: 8;
    }

    label:first-of-type & {
      border-radius: 1rem 1rem 0 0;

      @media #{$small} {
        border-radius: 1rem 0 0 1rem;
      }
    }

    label:last-of-type & {
      border-radius: 0 0 1rem 1rem;

      @media #{$small} {
        border-radius: 0 1rem 1rem 0;
        padding-right: 1rem;
      }
    }

    label:not(:first-of-type) & {
      margin: -1px 0 0;

      @media #{$small} {
        margin: 0 0 0 -1px;
      }
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  &:checked + span {
    background: $link-color;
    box-shadow: 0 0 0 1px $link-color inset;
    color: $text-invert-color;
  }

  // stylelint-disable-next-line no-descending-specificity
  &:focus + span,
  &:focus:checked + span {
    box-shadow: 0 0 0 1px $link-color inset, 0 0 0 .3em $button-shade;
    z-index: 9;
  }

  &:not(:focus) + span:hover {
    box-shadow: 0 0 0 1px $link-color inset;
  }
}

[type='submit'] {
  &:focus,
  &:hover {
    padding: .5rem 1.75rem;
  }
}
</style>
