<template lang="pug">
TheHeader

main
  h1 {{ $t('Legal Notice & Privacy') }}

  VTranslation(en)
    p The #[a(href="https://dini.de/impressum") legal notice] and the #[a(href="https://dini.de/datenschutzerklaerung") privacy policy] of the DINI website are applicable.
  VTranslation(de)
    p Es gelten das #[a(href="https://dini.de/impressum") Impressum] und die #[a(href="https://dini.de/datenschutzerklaerung") Datenschutzerklärung] der DINI-Website.
TheFooter
</template>
