<script setup>
</script>

<template lang="pug">
TheHeader

main
  h1 404

  VTranslation(en)
    p This page does not exist. Sorry for for any discombobulation.
    p If you followed a link leading to this page, please #[a(href="mailto:gs@dini.de") drop us an email], and we will fix it as soon as possible.
  VTranslation(de)
    p Diese Seite gibt es nicht. Tut uns leid, wenn Sie sich jetzt etwas verloren fühlen.
    p Wenn Sie ein Link hierher geführt hat, #[a(href="mailto:gs@dini.de") schreiben Sie uns bitte eine E-Mail], und wir werden uns schnellstmöglich darum kümmern.

  p.center(style="margin-top: 1.5rem")
    VLink.button.outline(to="home")
      VTranslation(en) Go Home
      VTranslation(de) Zur Startseite

TheFooter
</template>
