<script setup>
import { nextTick, ref } from 'vue'
import { useRoute, useRouter, RouterLink } from 'vue-router'

import { formatDuration } from '../modules/format'
import { setTitle } from '../modules/meta'
import { createEventSource } from '../modules/http'

import config from '../config'
import { cache } from '../modules/cache'
import { errorHandler } from '../modules/error'

const emit = defineEmits(['finish'])

const route = useRoute()
const router = useRouter()

const status = ref(undefined)
const titleUpdated = ref(false)

if (process.env.NODE_ENV === 'development') {
  const query = new URLSearchParams(location.search)
  if (query.get('failed') !== null) {
    status.value = {
      oaiApiUrl: 'https://example.org/broken',
      stage: 'failed',
      errors: [
        { message: 'Looks like something went seriously wrong, yet this is just for checking the appearance of long error messages' },
        { message: 'Somebody set up us the bomb' },
      ],
    }
  } else if (query.get('loading') !== null) {
    status.value = false
  } else if (query.get('progress') !== null) {
    const progress = query.get('progress')
    status.value = {
      filesDownloaded: Math.ceil(Math.random() * 1e5),
      oaiApiUrl: 'https://example.org/oai',
      progress: progress === 'false' ? false : (progress || Math.random()),
      secondsRemaining: Math.random() * 1e4,
    }
  }
}

if (status.value === undefined) {
  startWatch()
}

function startWatch () {
  const url = `${config.apiUrl}/watch?taskId=${route.params.taskId}`

  if (cache.get(url)) {
    emit('finish', cache.get(url))
    return
  }

  const eventSource = createEventSource(url)

  eventSource.addEventListener('message', async (event) => {
    const data = JSON.parse(event.data)

    if (data.error) {
      eventSource.close()

      if (data.error === 404) {
        const href = location.href
        router.replace({ name: '404', params: { lang: route.params.lang } })
        setTimeout(() => history.replaceState(history.state, '', href))
      } else {
        errorHandler.set(data.error)
      }
    } else if (data.stage === 'failed') {
      eventSource.close()
      status.value = data
    } else if (data.result) {
      eventSource.close()
      cache.set(url, data.result)
      emit('finish', data.result)
    } else {
      status.value = data

      if (!titleUpdated.value) {
        nextTick(setTitle)
        titleUpdated.value = true
      }
    }
  })
}
</script>

<template lang="pug">
TheHeader

main(v-if="!status")
  h1.sr-only {{ $t('Loading') }}
  //- Loading spinner is handled by TheFooter.vue

main(v-else)
  h1 {{ $t('Validating') }}
  h2 {{ status.oaiApiUrl }}

  template(v-if="status.stage === 'failed'")
    VWarning(role="alert")
      VTranslation(en)
        p Validation failed. There does not seem to be an OAI API at <a :href="status.oaiApiUrl">{{ status.oaiApiUrl }}</a>.
      VTranslation(de)
        p Validierung fehlgeschlagen. Hinter <a :href="status.oaiApiUrl">{{ status.oaiApiUrl }}</a> scheint sich keine OAI-API zu verbergen.

    p.center
      RouterLink.button.outline(:to="{ name: 'home', params: { lang: $route.params.lang } }")
        VTranslation(en) Validate another OAI API
        VTranslation(de) Andere OAI-Schnittstelle validieren

  template(v-else)
    template(v-if="status.progress !== false")
      p
        progress(:value="status.progress" :aria-label="$t('Progress')")

      p.center(style="margin-top: -1rem")
        b(
          v-if="status.secondsRemaining"
          v-html="$t('$1 remaining', formatDuration(status.secondsRemaining)) + ' &middot; '"
        )
        b(v-if="status.progress") {{ $i18n.formatNumber(status.progress * 100, 1) }}&#8239;%

    template(v-else)
      VWarning(role="alert")
        VTranslation(en)
          p Time remaining unknown due to missing <code>completeListSize</code>. This page will refresh when the validation is completed.
        VTranslation(de)
          p Verbleibende Zeit unbekannt aufgrund fehlender <code>completeListSize</code>. Diese Seite wird aktualisiert, sobald die Validierung abgeschlossen ist.

      p.center(v-if="status.filesDownloaded && status.filesDownloaded > 1")
        b {{ $t('$1 files downloaded', $i18n.formatNumber(status.filesDownloaded)) }}

    VTranslation(en)
      p The validation continues even when you close your browser. We&nbsp;will send you an email with the result once&nbsp;completed.
    VTranslation(de)
      p Die Validierung läuft weiter, wenn Sie den Browser schließen. Das&nbsp;Ergebnis erhalten Sie auch per&nbsp;E-Mail.

  .errors(v-if="status.errors?.length")
    h2
      IconAlert
      =' '
      | {{ $t('Errors') }}
    ul
      li(
        v-for="error in status.errors"
        :key="error"
        v-html="$t(error.message, ...error.values || [])"
      )

TheFooter
</template>

<style lang="scss" scoped>
progress {
  appearance: none;
  background: $bg-muted-color; // Firefox
  border: 0;
  border-radius: 1rem;
  display: block;
  height: .5rem;
  overflow: hidden;
  width: 100%;
}

progress::-moz-progress-bar {
  background: linear-gradient(to right, $blue, $green);
  border-radius: 1rem;
}

progress::-webkit-progress-bar {
  background: $bg-muted-color; // Chrome + Safari
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background: linear-gradient(to right, $blue, $green);
  border-radius: 1rem;
}

.errors {
  font-weight: 500;
  margin: 1.5rem auto 0;
  max-width: 24rem;

  ul {
    margin: 0;
  }
}
</style>
