<script setup>
import { nextTick, ref } from 'vue'
import { onBeforeRouteUpdate } from 'vue-router'

import { confetti } from '../modules/fx'
import { setTitle } from '../modules/meta'
import { formatTimestamp } from '../modules/format'

const props = defineProps({
  result: Object,
})

const sidebarOpen = ref(false)

// Show confetti within 1 day after completion if score is 100% and URL has no hash
if (props.result.score === 100 &&
  !location.hash &&
  Date.now() / 1000 - props.result.timestamp < 60 * 60 * 24
) {
  confetti()
}

nextTick(() => {
  setTitle()

  if (location.hash) {
    document.querySelector(location.hash)?.scrollIntoView({ behavior: 'instant' })
  } else {
    window.scroll({ top: 0 })
  }
})

onBeforeRouteUpdate(() => {
  nextTick(setTitle)
})

function removeProtocol (url) {
  return url.replace(/^\w+:\/\//, '')
}
</script>

<template lang="pug">
TheHeader(
  :sidebarOpen="sidebarOpen"
  :score="result.score"
  @toggleSidebar="() => sidebarOpen = !sidebarOpen"
)
  template(#title)
    //- h1 overlays sidebar and thus is hidden when sidebar is open
    h1(:class="{ 'sr-only': sidebarOpen }" style="font-weight: 300")
      span(v-html="$t('Result for <b>$1</b>', removeProtocol(result.oaiApiUrl))")
      //- For setting document title from h1
      span(hidden)  &middot; {{ formatTimestamp(result.timestamp) }}

main.main
  ValidationSidebar#sidebar(
    :open="sidebarOpen"
    :rules="result.rules"
    @close="sidebarOpen = false"
  )
  ValidationResult(
    :result="result"
  )

TheFooter.footer(:decorated="false")
</template>

<style lang="scss" scoped>
.main {
  @include dotted-background;
  flex: 1;
  max-width: none;
  padding: 0;
}

.footer {
  box-shadow: none;

  @media #{$large} {
    display: none;
  }
}
</style>
