<script setup>
import { ref } from 'vue'

import ProgressView from './ProgressView.vue'
import ResultView from './ResultView.vue'

const result = ref(undefined)
</script>

<template lang="pug">
ProgressView(v-if="!result" @finish="(loadedResult) => result = loadedResult")
ResultView(v-else :result="result")
</template>
