@mixin dotted-background {
  background: $bg-color;
  background-image:
    radial-gradient($shade-2 1px, transparent 1px),
    radial-gradient($shade-2 1px, transparent 1px);
  background-position: 0 1px, 2px 3px;
  background-size: 4px 4px, 4px 4px;
}
