// Global classes that can be used anywhere in the app

.badges {
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem 0 .25rem;
}

.badge {
  align-self: flex-start;
  display: flex;
  font-size: $font-size-small;
  font-weight: 500;
  margin: 0 1.75rem .5rem .5rem;
  z-index: 0; // prevent badges from overlaying modal

  > .material-design-icon {
    align-items: center;
    background: inherit;
    border-radius: 1rem;
    display: flex;
    margin-left: -.75rem;
    padding: .25rem;
    z-index: 1;
  }

  > :last-child {
    background: $bg-muted-color;
    border-radius: 0 1rem 1rem 0;
    margin: 0 -1rem 0 -.75rem;
    padding: .25rem .75rem .25rem 1.25rem;
  }

  // NOTE: Darkening colors so they meet WCAG AA minimum contrast requirements
  // with white text

  &.gray > :last-child {
    background: color.mix(#000, $gray-3, 30%);
  }

  &.gray-light > :last-child {
    background: $bg-muted-color;
    color: $text-muted-color;
  }

  &.green > :last-child {
    background: color.mix(#000, $green, 30%);
  }

  &.orange > :last-child {
    background: color.mix(#000, $orange, 30%);
  }

  &.red > :last-child {
    background: color.mix(#000, $red, 30%);
  }
}

.gray {
  background: $gray-3;
  color: $white;
}

.gray-light {
  background: $gray-2;
  color: $text-muted-color;

  .dark & {
    background: $gray-4;
  }
}

.blue {
  background: $blue;
  color: $white;
}

.green {
  background: $green;
  color: $white;
}

.orange {
  background: $orange;
  color: $white;
}

.red {
  background: $red;
  color: $white;
}

.button {
  @include caps;
  background: $link-color;
  border: 0;
  border-radius: 1rem;
  color: $text-invert-color;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  padding: .5rem 1.5rem;
  text-decoration: none;
  transition: background $td, box-shadow $td, padding $td;
  vertical-align: top;

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:focus,
  &:focus-visible {
    background: $link-color;
    box-shadow: 0 0 0 .3em $button-shade;
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid $link-color;
    outline-offset: 2px;
  }

  &:hover:not(:focus) {
    background: $button-hover-bg;
    box-shadow: none;
  }

  &.outline {
    background: none;
    box-shadow: 0 0 0 1px currentcolor inset;
    color: $link-color;

    &:focus,
    &:focus-visible {
      background: none;
      box-shadow:
        0 0 0 1px currentcolor inset,
        0 0 0 .3em $button-shade;
    }

    &:hover:not(:focus) {
      background: $link-shade;
      box-shadow: 0 0 0 1px currentcolor inset;
    }
  }
}

.center {
  text-align: center;
}

.material-design-icon > svg {
  height: 1rem;
  vertical-align: top;
  width: 1rem;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
