@import 'settings';

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  background: $bg-color;
  color: $text-color;
  font-size: $grid;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: calc(2.5rem); // room for fixed header

  @media (prefers-reduced-motion) {
    animation: none !important;
    scroll-behavior: auto;
  }
}

body {
  font: 17px/1rem Barlow, sans-serif;
  font-weight: 300;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  word-break: break-word;
}

// Tags below sorted alphabetically

%input {
  background: none;
  color: inherit;
  font: inherit;
  font-weight: 300;
  transition: box-shadow $td;
}

a {
  border-radius: 1rem;
  box-decoration-break: clone;
  color: $link-color;
  font-weight: 500;
  margin: -.1em 0 -.3em;
  padding: .1em 0 .3em;
  transition:
    backdrop-filter $td,
    background $td,
    box-shadow $td;

  &:focus-visible {
    outline: 2px solid $link-color;
  }

  &:focus,
  &:hover {
    backdrop-filter: blur(.5px);
    background: $link-shade;
    box-shadow: -.4em 0 $link-shade, .4em 0 $link-shade;
  }
}

address {
  margin: 0 0 1rem;
}

b {
  font-weight: 500;
}

code {
  @include monospace;
  background: $shade-1;
  border-radius: 1rem;
  line-height: 1;
  padding: 0 .3em;
}

h1 {
  align-items: center;
  box-shadow: 0 1px $border-color;
  font-size: 1.7778em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.5rem;
  margin: .25rem 0 1.5rem;
  padding: 0 0 .75rem;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 1.3333em;
  font-weight: 600;
  margin: 2rem 0 1rem;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 1em;
  font-weight: 500;
  margin: 2rem 0 1rem;

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  font-weight: 500;
}

i {
  font-style: italic;
}

input {
  @extend %input;
}

li {
  main ul & {
    &::before {
      color: $link-color;
      content: '•';
      margin-left: -.5rem;
      position: absolute;
    }
  }
}

main {
  flex: 1;
  margin: 0 auto;
  max-width: 26rem;
  padding: 1.5rem .5rem 2rem;
  width: 100%;
  z-index: 1;

  @media #{$medium} {
    padding: 1.5rem 1rem 2rem;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

ol {
  margin: 0 0 1rem;
  padding-left: 2rem;
}

p {
  margin: 0 0 1rem;
  min-height: 1rem; // prevent collapsing of empty paragraphs

  address & {
    margin: 0;
  }
}

pre {
  @include monospace;
}

select {
  @extend %input;
}

table {
  border-collapse: collapse;
  margin: 0 0 .5rem;

  th {
    @include monospace;
    color: $text-muted-color;
    overflow: hidden;
    padding: .25rem;
    text-align: left;
    transform: translateY(1px); // align with td
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    padding: .25rem;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

textarea {
  @extend %input;
}

ul {
  list-style: none;
  margin: 0 0 1rem;
  padding-left: 1rem;
}
