// Base colors
$blue: #344999;
$green: #68ba80;
$orange: #f0821d;
$red: #d72f89;
$black: #000;
$white: #fff;

// Shades of gray
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #888;
$gray-4: #555;
$gray-5: #333;
$gray-6: #222;
$shade-1: var(--shade-1, rgba(#000, .05));
$shade-2: var(--shade-2, rgba(#000, .1));
$shade-3: var(--shade-3, rgba(#000, .2));
$shade-4: var(--shade-4, rgba(#000, .3));
$shine: var(--shine, rgba(#fff, .8));

// Semantic colors
$bg-color: var(--bg-color, $white);
$bg-muted-color: var(--bg-muted-color, $gray-1);
$border-color: $shade-3;
$button-hover-bg: var(--link-light-color, color.mix(#fff, $blue, 10%));
$border-shade: $shade-2;
$button-shade: var(--button-shade, rgba($blue, 20%));
$error-color: var(--error-color, color.mix(#000, $orange, 30%));
$link-color: var(--link-color, $blue);
$link-shade: var(--link-shade, rgba($blue, 10%));
$text-color: var(--text-color, $black);
$text-muted-color: var(--text-muted-color, $gray-4);
$text-invert-color: var(--text-invert-color, $white);

// Dimensions
$grid: 24px;
$font-size-small: .882em;

// Timings
$td: .2s; // transition duration

// Breakpoints for @media queries
$small: '(min-width: 360px)';
$medium: '(min-width: 576px)';
$large: '(min-width: 1200px)';

// Combined values
$drop-shadow: 0 0 .5rem rgba(#000, .2);

.dark {
  --shade-1: #{rgba(#fff, .05)};
  --shade-2: #{rgba(#fff, .1)};
  --shade-3: #{rgba(#fff, .2)};
  --shade-4: #{rgba(#fff, .3)};
  --shine: #{rgba(#fff, .1)};
  --bg-color: #{$gray-6};
  --bg-muted-color: #{$gray-5};
  --button-shade: #{rgba($green, 20%)};
  --error-color: #{$orange};
  --link-color: #{$green};
  --link-light-color: #{color.mix(#fff, $green, 10%)};
  --link-shade: #{rgba($green, 10%)};
  --text-color: #{$white};
  --text-invert-color: #{$black};
  --text-muted-color: #{$gray-2};
}
